<h1 class="site-title">
  <span class="base05">[</span><span class="base08">d</span><span class="base09">c</span><span class="base0a">h</span><span class="base0b">e</span><span class="base0c">n</span><span class="base0d">1</span><span class="base0e">5</span><span class="base05">]</span><span class="base05">$ _</span>
</h1>

<div class="hero-logo">
  <div style="text-align: center;">
    <q>I would rather be without a state than without a voice.</q>
    - <cite>Edward Snowden</cite>
  </div>
</div>

